name: Autoformat

on:
  push:
    branches:
        - "renovate/ruff"

jobs:
  autoformat:
    permissions:
        contents: write
    runs-on: ubuntu-24.04
    steps:
        - name: Checkout
          uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        - name: Setup Python
          uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        - name: Install ruff
          run: pip install ruff==0.14.11
        - name: Fix
          run: ruff check --fix
        - name: Format
          run: ruff format
        - uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7
          with:
            commit_message: Autoupdate formtatting with ruff
  