name: Autoformat

on:
  push:
    branches:
        - "renovate/ruff"

jobs:
  autoformat:
    permissions:
        contents: write
    runs-on: ubuntu-24.04
    steps:
        - name: Checkout
          uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        - name: Setup Python
          uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        - name: Install ruff
          run: pip install ruff==0.14.5
        - name: Fix
          run: ruff check --fix
        - name: Format
          run: ruff format
        - uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7
          with:
            commit_message: Autoupdate formtatting with ruff
  