name: Autoformat

on:
  push:
    branches:
        - "renovate/ruff"

jobs:
  autoformat:
    permissions:
        contents: write
    runs-on: ubuntu-24.04
    steps:
        - name: Checkout
          uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        - name: Setup Python
          uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        - name: Install ruff
          run: pip install ruff==0.14.1
        - name: Fix
          run: ruff check --fix
        - name: Format
          run: ruff format
        - uses: stefanzweifel/git-auto-commit-action@778341af668090896ca464160c2def5d1d1a3eb0 # v6
          with:
            commit_message: Autoupdate formtatting with ruff
  