# This workflow tests Abelfunctions against various versions of SageMath

name: Test

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:
    # Allow to run manually

jobs:
  static-analysis:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: 3.13
      - name: Install ruff
        run: pip3 install ruff==0.14.5
      - name: Check code with ruff
        run: |
          ruff check --output-format=github
          ruff format --check

  test:
    runs-on: ubuntu-24.04
    needs: static-analysis
    strategy:
      fail-fast: false
      matrix:
        sage-version:
          - '9.2'
          - '9.3'
          - '9.4'
          - '9.5'
          - '9.6'
          - '9.7'
          - '9.8'
          - '10.0'
          - '10.1'
          - '10.2'
          - '10.3'
          - '10.4'
          - '10.5'
          - '10.6'
          - '10.7'
    steps:
      - name: Install sage
        uses: mamba-org/setup-micromamba@add3a49764cedee8ee24e82dfde87f5bc2914462 # v2
        with:
          environment-name: sage
          create-args: >-
            sage=${{ matrix.sage-version }}
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Install Python test dependencies
        run: micromamba run -n sage sage -pip install -r test-requirements.txt
      - name: Install build dependencies
        run: micromamba run -n sage sage -pip install -r build-requirements.txt
      - run: micromamba run -n sage sage -pip freeze
      - name: NumPy version
        run: micromamba run -n sage sage -c 'import numpy; print(numpy.__version__)'
      - name: Cython version
        run: micromamba run -n sage sage -c 'import cython; print(cython.__version__)'
      - name: Install Abelfunctions with pip
        run: micromamba run -n sage sage -pip install -e . --no-build-isolation
      - name: Run tests
        run: micromamba run -n sage sage runtests.py

  test-setuppy-install:
    runs-on: ubuntu-24.04
    needs: static-analysis
    steps:
      - name: Install sage
        uses: mamba-org/setup-micromamba@add3a49764cedee8ee24e82dfde87f5bc2914462 # v2
        with:
          environment-name: sage
          create-args: >-
            sage=9.8
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Install Python test dependencies
        run: micromamba run -n sage sage -pip install -r test-requirements.txt
      - name: Install build dependencies # since pip with --no-build-isolation doesn't install them
        run: micromamba run -n sage sage -pip install -r build-requirements.txt
      - name: Install Abelfunctions with setup.py
        run: micromamba run -n sage sage setup.py build_ext --inplace
      - name: Run tests
        run: micromamba run -n sage sage runtests.py

  test-passagemath:
    runs-on: ubuntu-24.04
    needs: static-analysis
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: "3.13"
      - name: Install tox
        run: |
          pip install tox
      - name: Run tests with tox
        run: |
          tox
